@import "tailwindcss";



@theme{
  --font-display:"Syne","sans-serif";
  --breakpoint-before-lg:62rem; /* 992px */
  --breakpoint-before-sm:36rem;/* 576px */
  --breakpoint-before-xl:75rem; /* 1200px */
  --breakpoint-before-2xl:87.5rem; /* 1400px */
  --breakpoint-before-3xl:93.75rem:/* 1500px */
  --breakpoint--before-4xl:100rem;/* 1600px */
}

@custom-variant dark (&:where(.dark, .dark *));


html {
  transition: background-color 0.5s ease, color 0.5s ease;
}


/* pre-animation before-main-content */
.animate {
    animation: cornerFlip 0.6s ease-in-out infinite;
    transform-origin: top left; /* or top right for a different pivot */
  }

  @keyframes cornerFlip {
    0% {
      transform: rotate(0deg) scale(1);
    }
    
    100% {
      transform: rotate(90deg) scale(1);
    }
  }


 .nav-item.active {
  @apply border border-[#0000004D] dark:border-[#303033]  dark:text-white text-black  ;
}


.nav-item {
  @apply text-[#8b8a91] border border-transparent px-3 py-3 transition-all duration-300 hover:text-black dark:hover:text-[white]
}

